$highlight-color: #00ACC1;

.input{
    flex: 1;
    margin-left: 10px;
}
.paper{
    padding: 2px 4px;
    display: flex;
    align-items: center;
    width: 400px;
}

.relative{
    position: relative;
}

.searchResults {
  position: absolute;
  width: 50%;
  background: white;
  border-radius: 10px;
  margin-top: 5px;
  list-style-type: none;
  box-shadow: 0 10px 20px 5px rgba(0, 0, 0, 0.3);
  z-index: 1;
  @media (max-width: 500px) {
    width: 80%;
  }
  .react-autosuggest__container {
    position: relative;
  }
  .react-autosuggest__input {
    width: 100%;
    height: 32px;
    padding: 10px;
    padding-right: 0px;
    font-weight: 400;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    -webkit-appearance: none;
  }
  .react-autosuggest__input--focused {
    outline: none;
  }
  .react-autosuggest__input::-ms-clear {
    display: none;
  }
  .react-autosuggest__input--open {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
  .react-autosuggest__suggestions-container {
    display: none;
  }
  .react-autosuggest__suggestions-container--open {
    display: block;
    position: absolute;
    top: 55px;
    width: 100%;
   
    border: 1px solid #aaa;
    background-color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    z-index: 2;
  }
  .react-autosuggest__suggestions-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
  .react-autosuggest__suggestion {
    cursor: pointer;
    padding: 0;
  }
  .react-autosuggest__suggestion--highlighted {
    background-color: #ddd;
  }
}


.result {
  &:not(:last-child) {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }
}

.link {
  font-weight: 300;
  display: flex;
  justify-content: flex-start;
  padding: 5px;
  color: rgb(10, 10, 10);
  text-decoration: none;
  transition: background 0.1s ease, color 0.1s ease;
}