@import "./common.scss";
@import "./spacing.scss";

#app {
    height: 100%;
  }
  
.app-wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.page-content{
  padding-top: 80px;
    flex: 1 0 auto;
    
}

.link,:hover{   
      text-decoration: none;
}